.button {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  background-color: #ff9d00;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px; }

.header {
  margin-top: 60px;
  margin-bottom: 15px; }
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__contacts__tel-1 {
      font-size: 22px;
      font-weight: 500;
      line-height: 22px;
      text-transform: uppercase;
      padding-right: 15px;
      margin-right: 15px;
      border-right: solid 1px #cfcfd0; }
    .header__contacts__tel-2 {
      font-size: 22px;
      font-weight: 500;
      line-height: 22px;
      text-transform: uppercase;
      margin-right: 30px; }
    .header__contacts__buttons {
      width: 179px;
      height: 45px; }
      .header__contacts__buttons__phone {
        margin: 8px 7px 12px 18px; }
      .header__contacts__buttons__title {
        margin: 8px 10px 10px 0px; }

@-webkit-keyframes move {
  from {
    opacity: 0;
    margin-top: -100px; }
  to {
    opacity: 1;
    margin-top: 0; } }

@keyframes move {
  from {
    opacity: 0;
    margin-top: -100px; }
  to {
    opacity: 1;
    margin-top: 0; } }

.animate {
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

img {
  max-width: 100%; }

body {
  margin: 0; }

input:focus, button:focus {
  outline: none; }

.hat {
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url(../img/main/main.fon.jpg) center no-repeat;
  background-size: cover;
  color: #ffffff;
  z-index: 1; }
  .hat::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0; }
  .hat-img {
    position: relative; }
    .hat-img::before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 390px;
      height: 390px;
      border: 1px solid #ffffff;
      left: 50%;
      margin-left: -195px;
      border-radius: 50%; }
  .hat-text__title {
    font-size: 41px;
    font-weight: 700;
    line-height: 42px;
    font-family: "Roboto Bold";
    margin-bottom: 15px;
    font-weight: 700; }
  .hat-text__subtitle {
    font-family: "Roboto Regular";
    font-size: 28px;
    font-weight: 400; }
  .hat-text__form {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    margin-top: 24px; }
    .hat-text__form__title {
      font-family: "Roboto Light";
      font-size: 20px;
      line-height: 30px;
      font-weight: 300;
      padding-right: 75px; }
    .hat-text__form__important {
      font-family: "Roboto Bold";
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      text-transform: uppercase;
      display: block; }
    .hat-text__form__tel {
      margin-top: 20px;
      margin-bottom: 10px; }
      .hat-text__form__tel__input {
        border-radius: 5px;
        padding: 23px 130px 23px 19px; }
      .hat-text__form__tel__submit {
        padding: 21px 20px 21px 20px;
        margin-left: 10px;
        display: inline-block; }

.services {
  text-align: center;
  background-color: #f4f4f4;
  min-height: 514px; }
  .services__desc {
    margin-top: 50px; }
    .services__desc__important-title {
      color: #f39003;
      font-family: "Roboto Bold";
      font-size: 36px;
      font-weight: 900; }
    .services__desc__important-subtitle {
      font-family: "Roboto Regular";
      font-weight: 400;
      color: #373737;
      font-size: 16px; }
  .services__common {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    background-color: #fff;
    margin-top: 50px;
    min-height: 130px; }
    .services__common__img {
      min-width: 50px;
      margin: 0px 10px; }
    .services__common__text {
      font-family: "Roboto Light";
      font-weight: 300;
      color: #373737;
      line-height: 20px;
      font-size: 15px; }
      .services__common__text__headline {
        font-family: "Roboto Bold";
        font-size: 15px;
        font-weight: 700;
        color: #373737;
        line-height: 25px; }

.products {
  text-align: center; }
  .products__title {
    color: #313131;
    font-size: 27px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 57px;
    margin-bottom: 12px; }
  .products__box__img {
    min-height: 314px;
    margin-top: 35px; }
  .products__box__text {
    color: #313131;
    font-size: 20px;
    font-weight: 500;
    line-height: 19.99px; }
  .products__box__buttons {
    margin-top: 28px; }
    .products__box__buttons__button1 {
      display: inline-block;
      background-color: transparent;
      color: #373737;
      border: solid 1px;
      padding: 15px 24px 16px 26px;
      font-size: 15px;
      font-weight: 400;
      line-height: 23.47px; }
    .products__box__buttons__button2 {
      display: inline-block;
      padding: 18px 28px 16px 25px;
      margin-left: 12px; }

.individual-offer {
  position: relative;
  margin-top: 73px;
  margin-bottom: 87px;
  padding-top: 64px;
  padding-bottom: 69px;
  text-align: center;
  background: #373737 url(../img/main/individual-offer/individual-offer-fon.jpg) center no-repeat;
  background-size: cover;
  color: #ffffff;
  z-index: 1; }
  .individual-offer::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0; }
  .individual-offer__title {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 10px; }
  .individual-offer__subtitle {
    color: #ffffff;
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 32px; }
  .individual-offer__form__label {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 17px; }
  .individual-offer__form__input {
    padding: 21px 120px;
    border-radius: 5px;
    margin-bottom: 12px; }
  .individual-offer__form__button {
    display: inline-block;
    padding: 21px 30px;
    margin-bottom: 5px; }
  .individual-offer__small-text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px; }

.our-clients {
  width: 940px;
  margin: auto; }
  .our-clients__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    color: #313131;
    font-size: 27px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase; }
  .our-clients__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between; }
    .our-clients__images__img {
      width: 212px;
      height: 130px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 33px; }

.dimming-popup-form {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4); }
  .dimming-popup-form__popup-form {
    position: fixed;
    left: 50%;
    width: 752px;
    top: 300px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .dimming-popup-form__popup-form__close {
      position: absolute;
      font-size: 35px;
      color: #fff;
      right: -20px;
      top: -30px;
      font-weight: 300;
      cursor: pointer; }
    .dimming-popup-form__popup-form__title {
      display: block;
      width: 100%;
      min-height: 71px;
      margin: 0;
      background-color: #ff9d00;
      color: #fff;
      text-transform: uppercase;
      font-size: 21px;
      font-weight: 500;
      text-align: center;
      line-height: 71px; }
    .dimming-popup-form__popup-form__form {
      background: url(../img/main/form_fon.jpg) center no-repeat;
      background-size: cover;
      padding: 35px 88px 50px 88px;
      color: #fff; }
      .dimming-popup-form__popup-form__form__main-form__title {
        font-size: 30px;
        font-weight: 400;
        line-height: 27px;
        padding: 0;
        text-align: center; }
        .dimming-popup-form__popup-form__form__main-form__title span {
          font-size: 24px; }
      .dimming-popup-form__popup-form__form__main-form__label {
        display: block;
        margin-top: 23px;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px; }
      .dimming-popup-form__popup-form__form__main-form__input {
        width: 365px;
        height: 56px;
        margin-top: 17px; }
      .dimming-popup-form__popup-form__form__main-form__button {
        min-width: 180px;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        padding: 18px 20px 18px 20px;
        margin-left: 16px;
        display: inline-block; }
      .dimming-popup-form__popup-form__form__main-form__small-text {
        margin-top: 9px;
        font-size: 14px;
        font-weight: 300;
        line-height: 30px;
        text-align: center; }

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif; }
