.button {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  background-color: #ff9d00;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px; }

.header {
  margin-top: 60px;
  margin-bottom: 15px; }
  .header__logo {
    width: 191px;
    height: 61px;
    background: url(../img/logo.jpg) center no-repeat; }
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__contacts__phone {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header__contacts__phone__tel-1 {
        font-size: 22px;
        font-weight: 500;
        line-height: 22px;
        text-transform: uppercase;
        padding-right: 15px;
        margin-right: 15px;
        border-right: solid 1px #cfcfd0; }
      .header__contacts__phone__tel-2 {
        font-size: 22px;
        font-weight: 500;
        line-height: 22px;
        text-transform: uppercase;
        margin-right: 30px; }
    .header__contacts__buttons {
      width: 179px;
      height: 45px;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      color: #ffffff;
      background-color: #ff9d00;
      border: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 5px; }
      .header__contacts__buttons__phone {
        margin: 12px 7px 12px 18px; }
      .header__contacts__buttons__title {
        margin: 8px 10px 12px 0px; }

@-webkit-keyframes move {
  from {
    opacity: 0;
    margin-top: -100px; }
  to {
    opacity: 1;
    margin-top: 0; } }

@keyframes move {
  from {
    opacity: 0;
    margin-top: -100px; }
  to {
    opacity: 1;
    margin-top: 0; } }

.animate {
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

img {
  max-width: 100%; }

body {
  margin: 0; }

input:focus, button:focus {
  outline: none; }

.pop-up_window .dimming-popup-form {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4); }
  .pop-up_window .dimming-popup-form__popup-form {
    position: fixed;
    left: 50%;
    width: 752px;
    top: 300px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .pop-up_window .dimming-popup-form__popup-form__close {
      position: absolute;
      font-size: 35px;
      color: #fff;
      right: -20px;
      top: -30px;
      font-weight: 300;
      cursor: pointer; }
    .pop-up_window .dimming-popup-form__popup-form__title {
      display: block;
      width: 100%;
      min-height: 71px;
      margin: 0;
      background-color: #ff9d00;
      color: #fff;
      text-transform: uppercase;
      font-size: 21px;
      font-weight: 500;
      text-align: center;
      line-height: 71px; }
    .pop-up_window .dimming-popup-form__popup-form__form {
      background: url(../img/main/form_fon.jpg) center no-repeat;
      background-size: cover;
      padding: 35px 88px 50px 88px;
      color: #fff; }
      .pop-up_window .dimming-popup-form__popup-form__form__main-form__title {
        font-size: 30px;
        font-weight: 400;
        line-height: 27px;
        padding: 0;
        text-align: center; }
        .pop-up_window .dimming-popup-form__popup-form__form__main-form__title span {
          font-size: 24px; }
      .pop-up_window .dimming-popup-form__popup-form__form__main-form__label {
        display: block;
        margin-top: 23px;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px; }
      .pop-up_window .dimming-popup-form__popup-form__form__main-form__input {
        width: 365px;
        height: 56px;
        margin-top: 17px; }
      .pop-up_window .dimming-popup-form__popup-form__form__main-form__button {
        min-width: 180px;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        padding: 18px 20px 18px 20px;
        margin-left: 16px;
        display: inline-block; }
      .pop-up_window .dimming-popup-form__popup-form__form__main-form__small-text {
        margin-top: 9px;
        font-size: 14px;
        font-weight: 300;
        line-height: 30px;
        text-align: center; }

.hat {
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url(../img/main/main.fon.jpg) center no-repeat;
  background-size: cover;
  color: #ffffff;
  z-index: 1; }
  .hat::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0; }
  .hat-img {
    position: relative; }
    .hat-img::before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 390px;
      height: 390px;
      border: 1px solid #ffffff;
      left: 50%;
      margin-left: -195px;
      border-radius: 50%; }
  .hat-text__title {
    font-size: 41px;
    font-weight: 700;
    line-height: 42px;
    font-family: "Roboto Bold";
    margin-bottom: 15px;
    font-weight: 700; }
  .hat-text__subtitle {
    font-family: "Roboto Regular";
    font-size: 28px;
    font-weight: 400; }
  .hat-text__form {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    margin-top: 24px; }
    .hat-text__form__title {
      font-family: "Roboto Light";
      font-size: 20px;
      line-height: 30px;
      font-weight: 300;
      padding-right: 75px; }
    .hat-text__form__important {
      font-family: "Roboto Bold";
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      text-transform: uppercase;
      display: block; }
    .hat-text__form__tel {
      margin-top: 20px;
      margin-bottom: 10px; }
      .hat-text__form__tel__input {
        border-radius: 5px;
        padding: 23px 130px 23px 19px; }
      .hat-text__form__tel__submit {
        padding: 21px 20px 21px 20px;
        margin-left: 10px;
        display: inline-block; }

.services {
  text-align: center;
  background-color: #f4f4f4;
  min-height: 514px; }
  .services__desc {
    margin-top: 50px; }
    .services__desc__important-title {
      color: #f39003;
      font-family: "Roboto Bold";
      font-size: 36px;
      font-weight: 900; }
    .services__desc__important-subtitle {
      font-family: "Roboto Regular";
      font-weight: 400;
      color: #373737;
      font-size: 16px; }
  .services__common {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    background-color: #fff;
    margin-top: 50px;
    min-height: 130px; }
    .services__common__img {
      min-width: 50px;
      margin: 0px 10px; }
    .services__common__text {
      font-family: "Roboto Light";
      font-weight: 300;
      color: #373737;
      line-height: 20px;
      font-size: 15px; }
      .services__common__text__headline {
        font-family: "Roboto Bold";
        font-size: 15px;
        font-weight: 700;
        color: #373737;
        line-height: 25px; }

.products {
  text-align: center; }
  .products__title {
    color: #313131;
    font-size: 27px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 57px;
    margin-bottom: 12px; }
  .products__box__img {
    min-height: 314px;
    margin-top: 35px; }
  .products__box__text {
    color: #313131;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px; }
  .products__box__buttons {
    margin-top: 28px; }
    .products__box__buttons__button1 {
      display: inline-block;
      background-color: transparent;
      color: #373737;
      border: solid 1px;
      padding: 15px 24px 16px 26px;
      font-size: 15px;
      font-weight: 400;
      line-height: 23px; }
    .products__box__buttons__button2 {
      display: inline-block;
      padding: 18px 28px 16px 25px;
      margin-left: 12px; }

.individual-offer {
  position: relative;
  margin-top: 73px;
  margin-bottom: 87px;
  padding-top: 64px;
  padding-bottom: 69px;
  text-align: center;
  background: #373737 url(../img/main/individual-offer/individual-offer-fon.jpg) center no-repeat;
  background-size: cover;
  color: #ffffff;
  z-index: 1; }
  .individual-offer::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0; }
  .individual-offer__title {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 10px; }
  .individual-offer__subtitle {
    color: #ffffff;
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 32px; }
  .individual-offer__form__label {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 17px; }
  .individual-offer__form__input {
    padding: 21px 120px;
    border-radius: 5px;
    margin-bottom: 12px; }
  .individual-offer__form__button {
    display: inline-block;
    padding: 21px 30px;
    margin-bottom: 5px; }
  .individual-offer__small-text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px; }

.our-clients {
  width: 940px;
  margin: auto; }
  .our-clients__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    color: #313131;
    font-size: 27px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase; }
  .our-clients__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between; }
    .our-clients__images__img {
      width: 212px;
      height: 130px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 33px; }

.production-slider {
  padding-bottom: 95px; }
  .production-slider__photo-bottom {
    margin-top: 13px;
    padding-left: 25px;
    padding-right: 25px; }
    .production-slider__photo-bottom img {
      padding-left: 5px;
      padding-right: 5px; }
  .production-slider__photo-arrow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 22px;
    border: 1px solid #ff9d00;
    z-index: 99; }
    .production-slider__photo-arrow:hover {
      cursor: pointer; }
    .production-slider__photo-arrow__arrow-left {
      left: 0;
      background: #ffffff url(../img/main/production-sliders/arrow/arrow-yellow-left.jpg) center no-repeat; }
      .production-slider__photo-arrow__arrow-left:hover {
        background: #ff9d00 url(../img/main/production-sliders/arrow/arrow-white-left.jpg) center no-repeat; }
    .production-slider__photo-arrow__arrow-right {
      right: 0;
      background: #ffffff url(../img/main/production-sliders/arrow/arrow-yellow-right.png) center no-repeat; }
      .production-slider__photo-arrow__arrow-right:hover {
        background: #ff9d00 url(../img/main/production-sliders/arrow/arrow-white-right.png) center no-repeat; }
  .production-slider__text {
    margin-top: -150px; }
    .production-slider__text__title {
      font-family: Roboto;
      font-size: 28px;
      font-weight: 400;
      line-height: 22px;
      background: #ff9d00;
      margin-left: -30px;
      padding: 20px 185px 20px 30px; }
    .production-slider__text__description {
      color: #373737;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px; }

.contacts {
  position: relative; }
  .contacts__form {
    position: absolute;
    left: 20%;
    top: 10%;
    width: 320px;
    min-height: 390px;
    background: #ffffff;
    padding: 33px 36px 39px 0px; }
    .contacts__form__office-adress {
      line-height: 25px; }
      .contacts__form__office-adress p {
        font-size: 18px;
        font-weight: 500;
        margin: 0px 0px 0px 33px; }
      .contacts__form__office-adress span {
        margin-left: 63px; }
    .contacts__form__warehouse-address {
      line-height: 25px; }
      .contacts__form__warehouse-address p {
        font-size: 18px;
        font-weight: 500;
        margin: 25px 0px 0px 63px; }
      .contacts__form__warehouse-address span {
        margin-left: 63px; }
    .contacts__form__sales-phone {
      line-height: 25px; }
      .contacts__form__sales-phone p {
        font-size: 18px;
        font-weight: 500;
        margin: 25px 0px 0px 33px; }
      .contacts__form__sales-phone span {
        margin-left: 63px; }
      .contacts__form__sales-phone__button {
        padding: 17px 24px;
        margin-top: 14px;
        margin-left: 63px; }
    .contacts__form__e-mail {
      line-height: 25px; }
      .contacts__form__e-mail p {
        font-size: 18px;
        font-weight: 500;
        margin: 25px 0px 0px 33px; }
      .contacts__form__e-mail span {
        margin-left: 63px; }

.reviews {
  background: #f4f4f4;
  padding: 55px 0px 71px 0px;
  margin-top: 61px;
  text-align: center; }
  .reviews__title__text {
    color: #313131;
    font-size: 27px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 12px; }
  .reviews__slider {
    padding: 0px 40px;
    width: 938px;
    margin: auto; }
    .reviews__slider img {
      padding: 30px 20px 0px 20px; }
    .reviews__slider__arrow {
      position: absolute;
      top: 0;
      height: 100%;
      width: 22px;
      z-index: 99; }
      .reviews__slider__arrow__left {
        left: 0;
        background: url(../img/main/reviews/left-arrow.png) center no-repeat; }
      .reviews__slider__arrow__right {
        right: 0;
        background: url(../img/main/reviews/right-arrow.png) center no-repeat; }

@media (max-width: 768px) {
  .header {
    margin-top: 10px;
    margin-bottom: 10px; }
    .header__logo {
      width: 36px;
      height: 36px;
      background: url(../img/logo-mobile.jpg) center no-repeat;
      display: inline-block; }
    .header__contacts__phone {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .header__contacts__phone__tel-1 {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-transform: uppercase;
        border-right: none;
        display: inline-block;
        width: 120px;
        height: 15px;
        margin: 0px;
        padding: 0; }
        .header__contacts__phone__tel-1 span {
          font-weight: bold; }
      .header__contacts__phone__tel-2 {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-transform: uppercase;
        display: inline-block;
        width: 120px;
        height: 15px;
        margin: 0px;
        padding: 0; }
        .header__contacts__phone__tel-2 span {
          font-weight: bold; }
    .header__contacts__buttons {
      width: 27px;
      height: 27px;
      display: block;
      padding: 15px;
      position: relative; }
      .header__contacts__buttons__phone {
        width: 14px;
        height: 14px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .header__contacts__buttons .hidden-mobile {
        display: none; }
  .hat {
    padding-top: 50px;
    padding-bottom: 58px;
    text-align: center; }
    .hat-text__title {
      color: #ff9d00;
      font-size: 22px;
      line-height: 24px;
      margin: 0; }
    .hat-text__subtitle {
      color: #ffffff;
      font-size: 18px;
      line-height: 24px; }
    .hat-text__form {
      background-color: transparent;
      margin-top: 0px;
      padding: 0px;
      width: 100%; }
      .hat-text__form__title {
        font-size: 15px;
        line-height: 18px;
        padding-right: 0px;
        margin: 40px 8px 0px 8px; }
      .hat-text__form__important {
        font-size: 15px;
        line-height: 18px;
        display: inline-block;
        padding-top: 10px; }
      .hat-text__form__tel {
        margin-top: 16px; }
        .hat-text__form__tel__input {
          padding: 17px 60px;
          width: 290px;
          height: 47px; }
        .hat-text__form__tel__submit {
          width: 180px;
          height: 50px;
          margin-top: 13px;
          margin-left: 0px;
          padding: 14px 29px; }
  .hidden-mobile {
    display: none; }
  .services {
    padding-bottom: 40px; }
    .services__desc {
      margin-top: 24px; }
      .services__desc__important-title {
        font-size: 30px; }
      .services__desc__important-subtitle {
        font-size: 14px; }
    .services__common {
      margin-top: 8px;
      padding-right: 20px; }
      .services__common__text {
        text-align: justify; }
    .services__production {
      margin-top: 23px; }
  .pop-up_window .hidden-mobile {
    width: 0;
    height: 0; }
    .pop-up_window .hidden-mobile .hidden-bobile {
      display: none; }
  .products .wow {
    -webkit-animation-name: none !important;
    animation-name: none !important;
    visibility: visible !important; }
  .products__title {
    margin-top: 32px;
    margin-bottom: 10px;
    font-size: 20px; }
  .products__box__img {
    min-height: 209px;
    margin-top: 10px; }
    .products__box__img .hidden-mobile {
      display: none; }
  .products__box__text {
    font-size: 18px; }
  .products__box__buttons {
    margin-top: 17px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .products__box__buttons__button1 {
      padding: 11px 22px;
      margin-left: 80px; }
    .products__box__buttons__button2 {
      padding: 12px 20px 12px 20px;
      margin-right: 80px;
      margin-left: 0px; }
  .individual-offer {
    margin-top: 43px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px; }
    .individual-offer__title {
      font-size: 20px;
      line-height: 24px; }
    .individual-offer__subtitle {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 30px; }
    .individual-offer__form__label {
      font-size: 14px; }
    .individual-offer__form__input {
      padding: 17px 57px; }
    .individual-offer__form__button {
      padding: 18px 29px; }
  .production-slider {
    margin-top: 28px;
    padding-bottom: 56px; }
    .production-slider .hidden-mobile {
      display: none; }
    .production-slider__photo-bottom {
      margin-top: 13px;
      padding-left: 0px;
      padding-right: 0px;
      min-height: 300px; }
      .production-slider__photo-bottom img {
        padding-left: 0px;
        padding-right: 0px;
        min-height: 300px; }
    .production-slider__photo-arrow {
      height: 78px;
      top: 115px; }
    .production-slider__text {
      margin-top: 0px;
      text-align: center; }
      .production-slider__text__title {
        width: 100%;
        margin: 0px;
        padding: 20px 30px 20px 30px;
        font-size: 20px;
        color: #ffffff;
        margin-left: -0px; }
      .production-slider__text__description {
        font-size: 14px; }
  .our-clients {
    width: 500px;
    padding-left: 15px;
    padding-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .our-clients .wow {
      -webkit-animation-name: none !important;
      animation-name: none !important;
      visibility: visible !important; }
    .our-clients__title .hidden-mobile {
      display: none; }
    .our-clients__title__text {
      font-size: 22px;
      margin-bottom: 17px; }
    .our-clients__images__img {
      width: 143px;
      height: 87px;
      margin-top: 7px;
      margin-left: 2px; }
      .our-clients__images__img img {
        max-width: 135px;
        max-height: 80px; }
  .reviews {
    margin-top: 36px;
    padding: 36px 0px 40px 0px; }
    .reviews__title__text {
      font-size: 22px;
      line-height: 24px; }
    .reviews__title .hidden-mobile {
      display: none; }
    .reviews__slider {
      max-width: 400px;
      padding: 0px; }
      .reviews__slider img {
        max-width: 400px;
        max-height: 600px;
        padding: 0px; }
      .reviews__slider__arrow {
        border: solid #ff9d00 1px;
        height: 78px;
        top: 240px;
        bottom: -39px; }
        .reviews__slider__arrow__left {
          left: 11px; }
        .reviews__slider__arrow__right {
          right: 11px; }
  .contacts__form {
    position: relative;
    left: 0;
    top: 0;
    margin: 30px auto;
    text-align: center;
    padding: 0px; }
    .contacts__form__office-adress p {
      margin: 0px; }
    .contacts__form__office-adress span {
      margin: 0px; }
    .contacts__form__warehouse-address p {
      margin: 25px 0px 0px 0px; }
    .contacts__form__warehouse-address span {
      margin: 0px; }
    .contacts__form__sales-phone {
      text-align: center; }
      .contacts__form__sales-phone p {
        margin: 25px 0px 0px 0px; }
      .contacts__form__sales-phone span {
        margin-left: 0px; }
      .contacts__form__sales-phone__button {
        margin: 20px auto; }
    .contacts__form__e-mail p {
      margin: 25px 0px 0px 0px; }
    .contacts__form__e-mail span {
      margin-left: 0px; } }

@media (max-width: 576px) {
  .header {
    margin-top: 10px;
    margin-bottom: 10px; }
    .header__logo {
      width: 36px;
      height: 36px;
      background: url(../img/logo-mobile.jpg) center no-repeat;
      display: inline-block; }
    .header__contacts__phone {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .header__contacts__phone__tel-1 {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-transform: uppercase;
        border-right: none;
        display: inline-block;
        width: 120px;
        height: 15px;
        margin: 0px;
        padding: 0; }
        .header__contacts__phone__tel-1 span {
          font-weight: bold; }
      .header__contacts__phone__tel-2 {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-transform: uppercase;
        display: inline-block;
        width: 120px;
        height: 15px;
        margin: 0px;
        padding: 0; }
        .header__contacts__phone__tel-2 span {
          font-weight: bold; }
    .header__contacts__buttons {
      width: 27px;
      height: 27px;
      display: block;
      padding: 15px;
      position: relative; }
      .header__contacts__buttons__phone {
        width: 14px;
        height: 14px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .header__contacts__buttons .hidden-mobile {
        display: none; }
  .hat {
    padding-top: 50px;
    padding-bottom: 58px;
    text-align: center; }
    .hat-text__title {
      color: #ff9d00;
      font-size: 22px;
      line-height: 24px;
      margin: 0; }
    .hat-text__subtitle {
      color: #ffffff;
      font-size: 18px;
      line-height: 24px; }
    .hat-text__form {
      background-color: transparent;
      margin-top: 0px;
      padding: 0px;
      width: 100%; }
      .hat-text__form__title {
        font-size: 15px;
        line-height: 18px;
        padding-right: 0px;
        margin: 40px 8px 0px 8px; }
      .hat-text__form__important {
        font-size: 15px;
        line-height: 18px;
        display: inline-block;
        padding-top: 10px; }
      .hat-text__form__tel {
        margin-top: 16px; }
        .hat-text__form__tel__input {
          padding: 17px 60px;
          width: 290px;
          height: 47px; }
        .hat-text__form__tel__submit {
          width: 180px;
          height: 50px;
          margin-top: 13px;
          margin-left: 0px;
          padding: 14px 29px; }
  .hidden-mobile {
    display: none; }
  .services {
    padding-bottom: 40px; }
    .services__desc {
      margin-top: 24px; }
      .services__desc__important-title {
        font-size: 30px; }
      .services__desc__important-subtitle {
        font-size: 14px; }
    .services__common {
      margin-top: 8px;
      padding-right: 20px; }
      .services__common__text {
        text-align: justify; }
    .services__production {
      margin-top: 23px; }
  .pop-up_window .hidden-mobile {
    width: 0;
    height: 0; }
    .pop-up_window .hidden-mobile .hidden-bobile {
      display: none; }
  .products .wow {
    -webkit-animation-name: none !important;
    animation-name: none !important;
    visibility: visible !important; }
  .products__title {
    margin-top: 32px;
    margin-bottom: 10px;
    font-size: 20px; }
  .products__box__img {
    min-height: 209px;
    margin-top: 10px; }
    .products__box__img .hidden-mobile {
      display: none; }
  .products__box__text {
    font-size: 18px; }
  .products__box__buttons {
    margin-top: 17px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .products__box__buttons__button1 {
      padding: 11px 22px;
      margin: 0px; }
    .products__box__buttons__button2 {
      padding: 12px 20px 12px 20px;
      margin: 0px; }
  .individual-offer {
    margin-top: 43px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px; }
    .individual-offer__title {
      font-size: 20px;
      line-height: 24px; }
    .individual-offer__subtitle {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 30px; }
    .individual-offer__form__label {
      font-size: 14px; }
    .individual-offer__form__input {
      padding: 17px 57px; }
    .individual-offer__form__button {
      padding: 18px 29px; }
  .production-slider {
    margin-top: 28px;
    padding-bottom: 56px; }
    .production-slider .hidden-mobile {
      display: none; }
    .production-slider__photo-bottom {
      margin-top: 13px;
      padding-left: 0px;
      padding-right: 0px;
      min-height: 300px; }
      .production-slider__photo-bottom img {
        padding-left: 0px;
        padding-right: 0px;
        min-height: 300px; }
    .production-slider__photo-arrow {
      height: 78px;
      top: 115px; }
    .production-slider__text {
      margin-top: 0px;
      text-align: center; }
      .production-slider__text__title {
        width: 320px;
        margin: 0px;
        padding: 20px 30px 20px 30px;
        font-size: 20px;
        color: #ffffff;
        margin-left: -15px; }
      .production-slider__text__description {
        font-size: 14px; }
  .our-clients {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .our-clients .wow {
      -webkit-animation-name: none !important;
      animation-name: none !important;
      visibility: visible !important; }
    .our-clients__title .hidden-mobile {
      display: none; }
    .our-clients__title__text {
      font-size: 22px;
      margin-bottom: 17px; }
    .our-clients__images__img {
      width: 143px;
      height: 87px;
      margin-top: 7px;
      margin-left: 2px; }
      .our-clients__images__img img {
        max-width: 135px;
        max-height: 80px; }
  .reviews {
    margin-top: 36px;
    padding: 36px 0px 40px 0px; }
    .reviews__title__text {
      font-size: 22px;
      line-height: 24px; }
    .reviews__title .hidden-mobile {
      display: none; }
    .reviews__slider {
      max-width: 290px;
      padding: 0px; }
      .reviews__slider img {
        max-width: 249px;
        max-height: 355px;
        padding: 0px; }
      .reviews__slider__arrow {
        border: solid #ff9d00 1px;
        height: 78px;
        top: 150px;
        bottom: -39px; }
        .reviews__slider__arrow__left {
          left: 11px; }
        .reviews__slider__arrow__right {
          right: 11px; }
  .contacts__form {
    position: relative;
    left: 0;
    top: 0;
    margin: 30px auto;
    text-align: center;
    padding: 0px; }
    .contacts__form__office-adress p {
      margin: 0px; }
    .contacts__form__office-adress span {
      margin: 0px; }
    .contacts__form__warehouse-address p {
      margin: 25px 0px 0px 0px; }
    .contacts__form__warehouse-address span {
      margin: 0px; }
    .contacts__form__sales-phone {
      text-align: center; }
      .contacts__form__sales-phone p {
        margin: 25px 0px 0px 0px; }
      .contacts__form__sales-phone span {
        margin-left: 0px; }
      .contacts__form__sales-phone__button {
        margin: 20px auto; }
    .contacts__form__e-mail p {
      margin: 25px 0px 0px 0px; }
    .contacts__form__e-mail span {
      margin-left: 0px; } }

.footer {
  background: black;
  min-height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .footer__text {
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    line-height: 17px; }

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif; }
